@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6 class="display-4">Welcome To My Task App</h6>
    <h6 class="font-weight-bold text-start text-danger">English Description</h6>
    <p>
        Appsettigns at first to try the application.go to the json file and enter your hotmail account and password.
        After that, register in the system and proceed by confirming the token that came to your e-mail address during registration.
        After that, log out of the system and enter the username Admin password Admin123. log in to the account you have.
        After that, set a task. After setting the task, attach the document. then, before the Add Task Assignment section, select the account that you created, select the task that you created, and select the documents that you want to October to this task, and then press the create button.
        Then log in to the system with the account information you have and go to the task assignment list to review the task you just created. after reviewing the task, press the finish task button, add the description section and your document, if any, and then click the finish task button.
        Then, by switching back to the administrator account, review the task submitted
    </p>
    <h6 class="font-weight-bold text-start text-danger mt-5">Türkçe Açıklama</h6>
    <p>
        Uygulamayı denemek için ilk başta Appsettigns.json dosyasına gidin ve hotmail hesabınızı ve şifrenizi girin.
        Bundan sonra, sisteme kaydolun ve kayıt sırasında e-posta adresinize gelen token i  onaylayarak devam edin.
        Bundan sonra, sistemden çıkın ve kullanıcı adını girin Admin şifresi Admin123. sahip olduğunuz hesaba giriş yapın.
        Bundan sonra bir Add Task butonuna basarak bir task oluşturun. Task i ayarladıktan sonra Add Document butonuna basarak Document  ekleyin. ardından, Add Task Assignment bölümünden önce oluşturduğunuz hesabı seçin, oluşturduğunuz Task i seçin ve bu task e eklemek istediğiniz domunetleri seçin ve ardından create butonuna  basın.
        Ardından, sahip olduğunuz hesap bilgileriyle sisteme giriş yapın ve yeni oluşturduğunuz task i gözden geçirmek için Task Assignment List butonuna basarak task i inceleyin . task i inceledikten sonra Task Finishing butonuna  basın, varsa açıklama bölümünü ve Documentleri  ekleyin ve ardından Finished düğmesini tıklatın.
        Ardından, Admin hesabına geri dönerek task i gözden geçirin.
    </p>
</div>
