<form asp-controller="Document" asp-action="AddDocument" method="post" enctype="multipart/form-data">
    @if (ViewBag.Result == null)
    {
        <span class="text-danger">@ViewBag.Result</span>
    }
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <label>Document Name</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="documentName" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <label class="mt-2">Document Select</label>
                </div>
                <div class="col-md-9">
                    <input type="file" name="file" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" offset-md-2 col-md-3 mt-2 ">
                <button class="w-100 mt-1 btn-primary" type="submit">Add</button>
            </div>
        </div>
    </div>

</form>